<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"></link>


<h1 style="margin-top:0px;color:white">Chattr</h1>



<div class="col-sm-10">
  <form id="submit_message_form">
    <!-- input has data attrs for user name and current user id -->
  <textarea name="message" id="message" placeholder="Type your message..." 
      data-username=<%= current_user if user_signed_in? %> 
      data-userid=<%= current_user_id if user_signed_in? %>> 
    </textarea>
    <input type="submit" id="submit_message_btn"></input>
  </form>
  
  <hr>

  <ul id="users_typing_messages">
  </ul>
  <ul id="all_messages">
  </ul>
</div>


<div class="col-sm-2">
    

     <% if user_signed_in? %>
        <div style="margin-bottom:5px;font-size:20px;word-wrap: break-word;">
          <strong class="label label-success">Display Name: 
          <%= current_user %> </strong>
        </div>
        <%= link_to "Change Display Name", new_user_path, remote: true %>

     <% else %>

      <%= link_to "Choose a Display Name", new_user_path, class: "label label-success", style:"font-size:15px", remote: true %><hr>

     
     <% end %>

      

      <!-- new user path -->
      <div id="user_create_form" style="display:none">
        <%= render 'users/form' %>
      </div>
      
     <br><br><br><br><br>


          
            <div class="panel panel-default">
              <div class="panel-body">
                <ul style="text-align:center" id="online_users">       
                </ul>    
              </div>        
            </div>
        

      

</div>


